.cockie-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cockie-title h1 {
    margin-bottom: 4rem;
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.cockie-title p {
    font-size: 20px;
    margin-top: 1rem;
}

.cockie-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cockie-content h2 {
    font-size: 25px;
    justify-content: left;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cockie-content p {
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}