.forum-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .forum-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forum-form {
    margin-bottom: 20px;
  }
  
  .forum-form input,
  .forum-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forum-form button {
    padding: 10px 20px;
    background-color: #2e1835;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
    font-size: 20px;
  }
  
  .forum-form button:hover {
    background-color: #742c88;
  }
  
  .forum-post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forum-post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .forum-post p {
    margin-bottom: 5px;
  }
  
  .forum-post button {
    padding: 5px 10px;
    background-color: #521e4e;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    /* justify-content: center;
    align-items: center; */
  }
  
  .button-edit{
    height: 3rem;
    margin-right: 1rem;
    width: 10rem;
    margin-top: 1rem;
    background-color: blueviolet;
  }

  .button-delete{
    height: 3rem;
    margin-right: 1rem;
    width: 10rem;
    margin-top: 1rem;
  }